<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="cacheClusterRedissonClient" class="com.wf.core.cache.redis.redisson.CacheClusterRedissonClient">
        <property name="redisAddrs" value="${cache.cluster.addrs}" />
    </bean>
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${cache.maxIdle}"/>
        <property name="maxTotal" value="${cache.maxTotal}"/>
        <property name="testOnBorrow" value="${cache.testOnBorrow}"/>
    </bean>
    <bean id="redisCacheHander" class="com.wf.core.cache.redis.RedisClusterCacheHanderImpl">
        <property name="jedisPoolConfig" ref="jedisPoolConfig"/>
        <property name="cacheClusterRedissonClient" ref="cacheClusterRedissonClient"/>
        <property name="redisAddrs" value="${cache.cluster.addrs}" />
    </bean>
</beans>
